@media screen and (max-width: 576px) {
  nav,
  .nav-list-container ul,
  .banner,
  .card-container,
  .play-games {
    flex-direction: column;
  }

  /* shared style  */
  .section-description {
    font-size: 1.25rem;
  }
  .section-title {
    margin-top: 100px;
    font-size: 2rem;
  }

  nav {
    box-shadow: none;
    margin-top: 50px;
    padding: 0 auto;
    margin-left: 50px;
  }

  .nav-list-container {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .nav-list-container ul {
  }
  .nav-list-container li {
    padding-bottom: 20px;
    text-align: center;
  }


  .banner {
  /* visibility: hidden; */
    flex-direction: column-reverse;
  width:fit-content;
    padding: 0 auto;
    margin-top: 30px;
  }
  .banner-img {
    width: 100%;
    padding-left: 100px;
  }
  .banner-img img {
    width: 500px;
    padding-top: 19px;
    margin-left: 20px;
  }
  .banner-info {
    margin-top: 30px;
    width: fit-content;
    /* height: 100%; */
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 300px;
    background-size: auto;
    background-repeat: no-repeat;
    
  }
  .banner-title {
  font-size: 4rem;
  }
  .banner-description {
    padding-bottom: 10px;
    text-align: left;
    ;
  }
  
  .banner-btn {
    padding-left: 10px;
  }
  .btn-primary {
    font-size: .8rem;
    padding: 10px 20px;
    margin-right: 10px;
  }
  .banner-btn2 {
    font-size: .8rem;
    padding: 10px 20px;
    
  }
  


}



.play-games {
  margin-top: 200px;
  margin-right: 20px;
}
.play-games-info {
  text-align: center;
  padding: 0 auto;
}

.play-games-img {
  width: 100px;
}
