@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
/* shared style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  /* max-width: 1440px;
 margin: 0 auto; */
}
.section-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}
.section-title {
  margin-top: 148px;
  color: #0b0223;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  padding-left: 10px;
}
.span1 {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav styles starts here */
nav {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0 200px;
}
.nav-logo-container {
  display: flex;
  align-items: center;
}
.nav-logo-container img {
  height: 40%;
}
.nav-logo-container h3 {
  /* text-align: center; */
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
  margin-left: 10px;
}

.nav-list-container {
  width: 40%;
}
.nav-list-container ul {
  height: 100px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.nav-list-container li {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.social-media {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
  gap: 10px;
}
.fa-youtube {
  color: red;
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.fa-tiktok {
  color: rgba(0, 0, 0, 1);
  padding-right: 10px;
}

/* nav styles ends here */
/* banner style starts here  */

.banner {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-info {
  width: 901px;
  height: 700px;
  margin-right: 65px;
  padding-left: 200px;
  /* background-color: rgba(255, 255, 255, 1); */
  background-image: url(/images/Group\ 14.png),
    linear-gradient(
      223deg,
      rgba(140, 87, 238, 0.01) 0%,
      rgba(241, 68, 174, 0.01) 100%
    );
  /* background-blend-mode: color; */
}

.banner-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 800;
  padding-bottom: 20px;
}
.banner-description {
  padding-left: 10px;
  padding-bottom: 15px;
}

.banner-btn {
  padding-left: 10px;
}
.btn-primary {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
}
.banner-btn2 {
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px;
}

.banner-img {
  width: 50%;
}
.banner-img img {
  /* width: 100%; */
  padding-top: 19px;
}

/* banner style ends here  */
/* main section styles */
main {
}
.online-games {
  text-align: center;
  margin-top: 10px;
  margin: 0 200px;
}
.card-container {
  display: flex;
}
.card {
  margin-top: 2.8rem;
}
.card img {
  width: 100%;
  padding-right: 1.25rem;
}
.card-description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1.25rem;
}
.span2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
}
.play-games {
  display: flex;
  margin-top: 200px;
  margin-right: 200px;
}
.play-games-info {
  text-align: right;
  width: 50%;
  margin-right: 100px;
}
.play-games-title {
  padding-bottom: 1.25rem;
}
.play-games-img {
  width: 50%;
}
/* .play-games-img img{
  width: 100%;
} */

.position-img {
  width: 318px;
  height: 365.083px;
  position: relative;
  left: -100px;
  top: -200px;
}

.games-card-container {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.games-card {
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-right: 25px;
  margin-bottom: 30px;
  border-radius: 50px;
  background: #fff;
  input:focu
}
.games-card img {
  width: 50px;
  height: 50px;
}
.games-card-info {
  padding-left: 10px;
  color: #0b0223;
  font-size: 18px;
  font-weight: 600;
}
